/* $Id: spaces_customtext.css,v 1.1.2.1 2009/12/19 18:31:55 yhahn Exp $ */
table.spaces-customtext { table-layout: fixed; }
table.spaces-customtext td { width:50%; }
table.spaces-customtext input.form-text { width:95%; }
